    body{
      //padding-left: 11em;
      font-family: Verdana, Helvetica, Arial, sans-serif;
      color: black;
      background-color: #E8E6FF
    }

    #header{
      position: relative;
      height: 100px;
      padding-left: 3em;
      top: 0;
      left:0;
      width: 100%;
      padding-bottom: 1em;
      border-bottom: thin dotted;
      border: 1px solid #FF0000;

    }
    #header h1{
      font-family: Helvetica, Arial;
      color:#555555;
    }
    #header a{
      text-decoration: none;
      font-family: Helvetica, Arial;
      color:#555555;
    }
   
    #menu{
      position: absolute;
      height: 100px;
      top: 0;
      right:0;
      width: 500;
      list-style-type: none;
      padding-top: 2em;
      margin: 0;
            border: 1px solid #FF0000;

    }

    #menu li{
      display: inline;
      background: white;
      margin-right: 3em ;
      padding-right: 1em;
      border-right: 1em solid black
    }
    #menu a{
      text-decoration: none; 
    }
    #menu a:link{
      color: blue
    }
    #menu a:visited{
      color:purple;
    }

    #section {
      position: relative;
       font-family: serif;
      font-style: italic;
      padding-left: 3em;
      padding-right: 3em;
      top: 1em;
      list-style: none;
      border: 1px solid #FF0000

    }
    #section a{
      text-decoration: none;
    }
    #section a:link{
      color: #000000;
    }
    #section a:visited{
      color: #000000;
    }
/* Test de galería con css */
div.img {
  position: relative;
    margin: 5px;
    padding: 5px;
    border: 1px solid #0000ff;
    height: auto;
    width: auto;
    float: left;
    text-align: left;
}

div.img img {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: left;
    font-weight: normal;
    width: 100%;
    margin: 5px;
}
    #footer{
      font-family: serif;
      font-style: italic;
      position: fixed;
      height: 3em;
      text-align: right;
      padding-right: 2.5em;
    bottom: 0em;
      width: 100%;
      right: 0;
      margin-top: 1em;
      padding-top: 1em;
      list-style: none;
     /* border-top: thin dotted;*/
      background-color: rgba(255, 255, 255, .7);
    }
    #footer li{
      font-size: 1.1em;
      display: inline;
      color:#ffffff
    }
    #footer a{
      text-decoration: none; 
    }
    #footer a:link{
      color:#000000;
    }
    #footer a:visited{
      color:#222222;
    }
    
    #separator{
      bottom: 3em;
      position: absolute;
      color: red;
      border-top: thin dotted
    }

