    body{
      color: black;
      background-color:rgb(240, 240, 240);
    }

    #header{
      font-family: 'Open Sans', sans-serif;
      position: relative;
      height: 100px;
      padding-top: 3em;
      padding-left: 5em;
      padding-bottom: 0em;
      width: 100%;
      top: 0;
      left: 0;
    }
    #header h1{
      text-align: left;
      font-weight: 300;
      line-height: 10%;
      color:#555555;
    }
    #header a{
      text-decoration: none;
      color:#555555;
    }
    #header p{
      font-size: 12px;
      text-align: left;
      text-transform: lowercase;
      letter-spacing: .27em;
      padding-left: .25em;

      line-height: 100%;
      color:#888888;
    }
  
    #menu{
      position: absolute;
      top: 8px;
      right:8px;
      width: 500;
      list-style-type: none;
      padding-right: 5em;
      padding-top: 4em;
      /*border: 1px solid #FF0000;*/
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;

    }
    #menu li{
      text-align: right;
      display: inline;
      margin-right: 0em ;
      word-spacing:3em;
      text-transform: none;
    }
    #menu a{
      text-decoration: none; 
    }
    #menu a:link{
      color: rgb(120, 120,120);
    }
    #menu a:visited{
      color: rgb(120, 120,120);
    }

/* Main content*/
    #section {
      position: relative;
      font-family: serif;
      margin-top: 2em;
      padding-left: 5em;
      padding-right: 5em;
      top: 0em;
      list-style: none;
      font-family: 'Open Sans', sans-serif;
      text-align: justify;

    }
    #section h1{
      font-weight: 300;
      font-size: 25px;
      color: rgb(100, 100, 100);
      margin-bottom: 1.2em;
    }
    #section p{
      font-weight: 300;
      color: rgb(100, 100, 100);
    }

    #section a{
      text-decoration: none;
      font-weight: 300;
    }
    #section a:link{
      color: rgb(120, 120, 200);
    }
    #section a:visited{ 
      color: rgb(120, 120, 200);
    }

    #videoHolder{
      position: relative;
      margin-top: 2em;
      padding-left: 5em;
      padding-right: 5em;
      font-family: 'Open Sans', sans-serif;
      width: 800px;
      border: 1px solid red;
      }
    

/* Test de galería con css */
div.img {
    position: relative;
    left: 5em;
    margin-top: 0em;
    margin-bottom: 2em;
    padding-left: 0px;
    padding-top: 0px;
    /*padding-right: 5em;*/
    border: 0px solid rgba(120, 120, 120, 1);
    height: auto;
    float: left;
    text-align: left;
}

div.img img {
    display: inline;
    width: 800px;
    height: 180px;
    margin: 0px;
    border: 1px solid #ffffff;
    opacity: .8;
   /* filter: brightness(50%);
    -webkit-filter: brightness(-10%);  */

}

div.img img:hover {
    opacity: 1;
    /*filter: brightness(20%);  
    -webkit-filter: brightness(0%); /* safari ok*/

}
div.desc {
    position: absolute;
    left:10px;
    bottom:2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 1.1em;
    width: auto;
    margin: 0px;
    color: rgb(255, 255, 255);

}
div.desc span{
  background-color: rgba(10, 10, 10, .75);
}

div.desc a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

div.soporte{
  font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: .9em;
    width: auto;
    margin: 0px;
    position: absolute;
    left:10px;
    bottom:1em;
    color: rgb(255, 255, 255);
}
div.soporte span{
  background-color: rgba(10, 10, 10, .75);
}
div.soporte a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

    #footer{
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: normal;
      letter-spacing: .02em;
      word-spacing: .2em;
      bottom: 0;
      position: fixed;
      height: 1.8em;
      text-align: right;
      padding-right: 6em;
     /* bottom: 0em;*/
      width: 100%;
      right: 0;
      margin-top: 2em;
      padding-top: .5em;
      list-style: none;
      background-color: rgba(180, 180, 180, .55);
    }
    #footer li{
      font-size: .8em;
      display: inline;
      padding-top:2em;
    }
    #footer a{
      text-decoration: none; 
    }
    #footer a:link{
      color:rgb(0, 0, 0);
    }
    #footer a:visited{
      color:rgb(0, 0, 0);
    }
    
    #separator{
      bottom: 3em;
      position: absolute;
      color: red;
      border-top: thin dotted
    }

